ion-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
}

ion-label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 25px;
}
ion-content{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
ion-card{
    padding-top: 20px;
}