<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    
  <ion-card>
    <img src="assets/img/hehe.png"/>
  </ion-card>
    <ion-item>
      <ion-label position="">Email</ion-label>
      <ion-input type="text" required [(ngModel)]="email" #name="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="">Password</ion-label>
      <ion-input type="password" [formControl]="password"></ion-input>
    </ion-item>
  </ion-list>
  {{ email }} <br>
  {{ password.value }} <br>
  <ion-button (click)="update()">Update</ion-button>
  <ion-button (click)="login()" >Login</ion-button>
  <ion-button [routerLink]="['/signup']">Sign up</ion-button>
</ion-content>
