<ion-header>
  <ion-toolbar>
    <ion-title>SIGNUP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="ion-align-items-center">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Firstname</ion-label>
      <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Lastname</ion-label>
        <ion-input type="text" formControlName="lastname"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list formGroupName="address">
      <ion-list-header >ADDRESS</ion-list-header>
      <ion-item>
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text" formControlName="street"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text" formControlName="city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Province</ion-label>
        <ion-input type="text" formControlName="province"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit">Submit</ion-button>
    <ion-button (click)="update()">Update</ion-button>
  </form>
  
</ion-content>
